<div class="container" fade-in>


    <div style="padding-top: 2em;">

        <div class="jumbotron">

            <div class="page-header">
                <h1>Calories</h1>

                <h2>An example project for Toptal</h2>
            </div>
            <div>
                <p>
                    <strong>Front-end libs:</strong> AngularJS, Angular-UI, Angular-Strap, Bootstrap, and jQuery
                </p>
                <p>
                    <strong>Back-end libs:</strong> Spring Boot, Spring Security, Bean Validation API, Hibernate, H2, Hikari, JUnit, Mockito
                </p>
                <p>
                    <strong>Features:</strong> AngularJS SPA, Optimistic locking, Salted passwords, Integration and Unit tests
                </p>
            </div>

        </div>

    </div>

</div>

